<h1>AllPeople</h1>
<% if @people.any? %>
<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to person.name, person_path(person) %>
    </li>
  <% end %>
<%else%>
</ul>
  <p> THERE ARE NOT PEOPLES </p>
<%end%>

<%= link_to 'Create Person', new_person_path %>